! ------------------------------------------------------------------------------
! Rofi configs
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #282c34, #181a1f, #282c34
rofi.color-normal: #282c34, #d8dee9, #282c34, #282c34, #bf616a
rofi.color-active: #282c34, #b48ead, #282c34, #282c34, #93e5cc
rofi.color-urgent: #282c34, #ebcb8b, #282c34, #282c34, #ebcb8b
